body{ 
    margin: 0;
}

.main{ 
    width: 100vw;
    height: 100vh;
    background: #201b2c;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left{ 
    width: 50vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.left h1{  
   color: #77ffc0;
}

.right{ 
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{ 
    width: 50%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: #362d4d;
    border-radius: 20px;
    box-shadow: -2px 3px 31px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: -2px 3px 31px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px 3px 31px 0px rgba(0,0,0,0.75);
}

.card h1{ 
    color: #77ffc0;
    font-weight: 800;
    margin: 0;
}

.textfield{ 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
}

.textfield input{ 
    width: 250px;
    height: 50px;
    border: none;
    border-radius: 10px;
    padding: 15 px;
    background-color: #494066;
    color: antiquewhite;
    font-size: 12pt;
    box-shadow: #201b2c;
    box-sizing: border-box;
    
}

.textfield label{ 
   color: antiquewhite;
   margin-bottom: 10px;
    
}
