@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body{ 
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.main{ 
    width: 100vw;
    height: 100vh;
    background: #120d1c;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left{ 
    width: 50vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.left h1{  
   color: #712cdf;
   font-size: 30px;
   
}

.astronauta{  
    width: 35vw;
 }

.right{ 
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{ 
    width: 270px;
    height: 348px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: #241740;
    border-radius: 20px;
    box-shadow: -2px 3px 31px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: -2px 3px 31px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px 3px 31px 0px rgba(0,0,0,0.75);
}

.card h1{ 
    color: #6727CC;
    font-weight: 800;
    margin: 0;
}


.textfield{ 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
}

.textfield input{ 
    width: 250px;
    height: 50px;
    border: none;
    border-radius: 10px;
    padding: 15 px;
    background-color:#332257;
    color: antiquewhite;
    font-size: 12pt;
    box-shadow: 0px 0px 23px -4px rgba(0,0,0,0.54);
-webkit-box-shadow: 0px 0px 23px -4px rgba(0,0,0,0.54);
-moz-box-shadow: 0px 0px 23px -4px rgba(0,0,0,0.54);
    box-sizing: border-box;
    
}

.textfield label{ 
   color: antiquewhite;
   margin-bottom: 10px;
   
    
}

#senha::placeholder {
    padding-left: 10px;
}

#usuario::placeholder {
    padding-left: 10px;
}

.textfield input::placeholder {
    color: #f0ffff94;
}

.btn {
    width: 250px;
    height: 50px;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 3px;
    color: #0a042b;
    background-color: #6727CC;
    cursor: pointer;
    box-shadow: 0px 0px 33px -1px #6727CC;
}

